<div>
    <h2>
        <span jhiTranslate="clinicApp.vet.home.title">Vets</span>
        <button class="btn btn-primary float-right jh-create-entity create-vet-my-suffix" [routerLink]="['/', { outlets: { popup: ['vet-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clinicApp.vet.home.createLabel">
            Create new Vet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="vets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="clinicApp.vet.firstName">First Name</span></th>
            <th><span jhiTranslate="clinicApp.vet.lastName">Last Name</span></th>
            <th><span jhiTranslate="clinicApp.vet.address">Address</span></th>
            <th><span jhiTranslate="clinicApp.vet.city">City</span></th>
            <th><span jhiTranslate="clinicApp.vet.telephone">Telephone</span></th>
            <th><span jhiTranslate="clinicApp.vet.homePage">Home Page</span></th>
            <th><span jhiTranslate="clinicApp.vet.email">Email</span></th>
            <th><span jhiTranslate="clinicApp.vet.birthDate">Birth Date</span></th>
            <th><span jhiTranslate="clinicApp.vet.employeeSince">Employee Since</span></th>
            <th><span jhiTranslate="clinicApp.vet.speciality">Speciality</span></th>
            <th><span jhiTranslate="clinicApp.vet.visit">Visit</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vet of vets ;trackBy: trackId">
                <td><a [routerLink]="['../vet-my-suffix', vet.id ]">{{vet.id}}</a></td>
                <td>{{vet.firstName}}</td>
                <td>{{vet.lastName}}</td>
                <td>{{vet.address}}</td>
                <td>{{vet.city}}</td>
                <td>{{vet.telephone}}</td>
                <td>{{vet.homePage}}</td>
                <td>{{vet.email}}</td>
                <td>{{vet.birthDate}}</td>
                <td>{{vet.employeeSince}}</td>
                <td jhiTranslate="{{'clinicApp.Speciality.' + vet.speciality}}">{{vet.speciality}}</td>
                <td>
                    <div *ngIf="vet.visit">
                        <a [routerLink]="['../visit-my-suffix', vet.visit?.id ]" >{{vet.visit?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vet-my-suffix', vet.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vet-my-suffix/'+ vet.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vet-my-suffix/'+ vet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
