<div>
    <h2>
        <span jhiTranslate="clinicApp.visit.home.title">Visits</span>
        <button class="btn btn-primary float-right jh-create-entity create-visit-my-suffix" [routerLink]="['/', { outlets: { popup: ['visit-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clinicApp.visit.home.createLabel">
            Create new Visit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="visits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="clinicApp.visit.description">Description</span></th>
            <th><span jhiTranslate="clinicApp.visit.visitDate">Visit Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let visit of visits ;trackBy: trackId">
                <td><a [routerLink]="['../visit-my-suffix', visit.id ]">{{visit.id}}</a></td>
                <td>{{visit.description}}</td>
                <td>{{visit.visitDate}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../visit-my-suffix', visit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'visit-my-suffix/'+ visit.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'visit-my-suffix/'+ visit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
