<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">

    <title data-th-text="#{label_list_entity(#{label_vet_plural})}">
    List Vet - petclinic - SpringRoo Application</title>

  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">
        <div class="container-fluid content">

          <h1 data-th-text="#{label_vet_plural}">Vets</h1>

          <!--TABLE-->
          <div class="table-responsive" id="containerFields" data-th-with="collectionLink=${@linkBuilder.of('VetsCollectionThymeleafController')},itemLink=${@linkBuilder.of('VetsItemThymeleafController')}">
              <table id="vet-entity-table" style="width: 99.7%" class="table table-striped table-hover table-bordered" data-datatables="true" data-row-id="id" data-select="single" data-z="f21f8999" data-order="[[ 1, &quot;asc&quot; ]]" data-data-load-url="${collectionLink.to('datatables')}" data-data-show-url="${itemLink.to('show').with('vet', '_ID_')}" data-data-export-csv-url="${collectionLink.to('exportCsv')}" data-data-export-xls-url="${collectionLink.to('exportXls')}" data-data-export-pdf-url="${collectionLink.to('exportPdf')}" data-data-create-url="${collectionLink.to('createForm')}" data-data-edit-url="${itemLink.to('editForm').with('vet', '_ID_')}" data-data-delete-url="${itemLink.to('delete').with('vet', '_ID_')}" data-data-delete-batch-url="${collectionLink.to('deleteBatch').with('ids', '_ID_')}">
                <caption class="sr-only" data-th-text="#{label_list_entity(#{label_vet_plural})}">Vet List</caption>
                <thead>
                  <tr>
                    <th data-data="id" data-checkboxes="true"></th>
                    <th data-data="firstName" data-th-text="#{label_vet_firstname}">firstName</th>
                    <th data-data="lastName" data-th-text="#{label_vet_lastname}">lastName</th>
                    <th data-data="specialty" data-th-text="#{label_vet_specialty}">specialty</th>
                    <th data-data="id" data-orderable="false" data-searchable="false" class="dttools" data-th-text="#{label_tools}">Tools</th>
                  </tr>
                </thead>
                <tbody data-th-remove="all">
                  <tr>
                    <td></td>
                    <td>firstName</td>
                    <td>lastName</td>
                    <td>specialty</td>
                    <td data-th-text="#{label_tools}">Tools</td>
                  </tr>
                </tbody>
              </table>
              <!-- content replaced by modal-confirm fragment of modal-confirm.html -->
              <div data-th-replace="~{fragments/modal-confirm-delete :: modalConfirmDelete(tableId='vet-entity-table',
                  title=#{label_delete_entity(#{label_vet_plural})}, message=#{info_delete_item_confirm})}">
              </div>
              <div data-th-replace="~{fragments/modal-confirm-delete-batch :: modalConfirmDeleteBatch(tableId='vet-entity-table',
                  title=#{label_delete_entity(#{label_vet_plural})}, message=#{info_delete_batch_confirm})}">
              </div>
              <div data-th-replace="~{fragments/modal-export-empty-error :: modalExportEmptyError(tableId='vet-entity-table',
                  title=#{label_export_empty_error(#{label_vet_plural})}, message=#{info_export_empty_error})}">
              </div>
          </div>
          <!-- /TABLE -->

          <!-- details -->
        <hr>
        <div id="details-level-1">
            <ul class="nav nav-tabs" id="nav-tabs">
                <li class="active">
                  <a id="visits-detail-table-tab" data-toggle="tab" href="#detail-visits-detail" data-z="4581133a">Visits</a>
                </li>
            </ul>

            <div class="tab-content" id="tab-content">
              <div id="detail-visits-detail" class="tab-pane active">
                <!--START DETAIL TABLE-->
                <div class="table-responsive" data-th-with="detailCollectionLink=${@linkBuilder.of('VetsItemVisitsThymeleafController')},detailItemLink=${@linkBuilder.of('VisitsItemThymeleafController')}">
                    <table id="visits-detail-table" style="width: 99.7%" class="table table-striped table-hover table-bordered" data-datatables="true" data-parent-table="vet-entity-table" data-row-id="id" data-z="4581133a" data-order="[[ 1, &quot;asc&quot; ]]" data-data-load-url="${detailCollectionLink.to('datatables').with('vet', '_PARENTID_')}" data-data-create-url="${detailCollectionLink.to('createForm').with('vet', '_PARENTID_')}" data-data-show-url="${detailItemLink.to('show').with('visit', '_ID_')}" data-data-edit-url="${detailItemLink.to('editForm').with('visit', '_ID_')}" data-data-delete-url="${detailCollectionLink.to('removeFromVisits').with('vet', '_PARENTID_').with('visitsToRemove', '_ID_')}" data-data-delete-batch-url="${detailCollectionLink.to('removeFromVisitsBatch').with('vet', '_PARENTID_').with('visitsToRemove', '_ID_')}">
                      <caption class="sr-only" data-th-text="#{label_list_of_entity(#{label_vet_visits})}">Visits List</caption>
                      <thead>
                        <tr>
                          <th data-data="id" data-checkboxes="true"></th>
                              <th data-data="description" data-th-text="#{label_vet_visits_description}">description</th>
                              <th data-data="visitDate" data-th-text="#{label_vet_visits_visitdate}">visitDate</th>
                              <th data-data="pet" data-th-text="#{label_vet_visits_pet}">pet</th>
                              <th data-data="vet" data-th-text="#{label_vet_visits_vet}">vet</th>
                              <th data-data="id" data-orderable="false" data-searchable="false" class="dttools" data-th-text="#{label_tools}">Tools</th>
                        </tr>
                      </thead>
                      <tbody data-th-remove="all">
                        <tr>
                              <td>description</td>
                              <td>visitDate</td>
                              <td>pet</td>
                              <td>vet</td>
                          <td data-th-text="#{label_tools}">Tools</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- content replaced by modal-confirm fragment of modal-confirm.html -->
                    <div data-th-replace="~{fragments/modal-confirm-delete :: modalConfirmDelete(tableId='visits-detail-table',
                        title=#{label_delete_entity(#{label_vet_visits})}, message=#{info_delete_item_confirm})}">
                    </div>
                   <div data-th-replace="~{fragments/modal-confirm-delete-batch :: modalConfirmDeleteBatch(tableId='visits-detail-table',
                        title=#{label_delete_entity(#{label_vet_visits})}, message=#{info_delete_batch_confirm})}">
                    </div>
                    <div data-th-replace="~{fragments/modal-export-empty-error :: modalExportEmptyError(tableId='visits-detail-table',
                        title=#{label_export_empty_error(#{label_vet_visits})}, message=#{info_export_empty_error})}">
                    </div>
                </div> <!--/table-responsive">
                <!--END TABLE-->
              </div> <!--/tab-pane -->
            </div> <!--/tab-content-->
        </div>

          <div class="clearfix">
            <div class="pull-left">
              <a href="../index.html" class="btn btn-default" data-th-href="@{/}">
                 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                 <span data-th-text="#{label_back}">Back</span>
              </a>
            </div>
          </div>

        </hr></div>

      </section>
      <!-- /CONTENT -->
    </div>
    <!-- /CONTAINER -->

    <footer class="container">
      <!-- Content replaced by layout of the page displayed -->
    </footer>

    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so that the pages load faster -->
    <!-- JavaScript loaded by layout of the page displayed -->
    <!--
         Only the inner content of the following tag "javascript" is included
         within the template, in the div "javascript"
        -->
    <div data-layout-fragment="javascript">
    </div>

  </body>

</html>
