<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOwnerLabel" jhiTranslate="clinicApp.owner.home.createOrEditLabel">Create or edit a Owner</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!owner.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="owner.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.owner.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="owner.firstName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.owner.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="owner.lastName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.owner.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="owner.address" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.owner.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="owner.city" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.owner.telephone" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                [(ngModel)]="owner.telephone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.owner.homePage" for="field_homePage">Home Page</label>
            <input type="text" class="form-control" name="homePage" id="field_homePage"
                [(ngModel)]="owner.homePage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.owner.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="owner.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.owner.birthDate" for="field_birthDate">Birth Date</label>
            <input type="text" class="form-control" name="birthDate" id="field_birthDate"
                [(ngModel)]="owner.birthDate" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.owner.pet" for="field_pet">Pet</label>
            <select class="form-control" id="field_pet" name="pet" [(ngModel)]="owner.pet" >
                <option [ngValue]="null"></option>
                <option [ngValue]="petOption.id === owner.pet?.id ? owner.pet : petOption" *ngFor="let petOption of pets; trackBy: trackPetById">{{petOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
