<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">

  <head id="head">

    <title data-th-text="#{label_list_entity(#{label_owner_plural})}">
    List Owner - petclinic - SpringRoo Application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-with="searchLink=${@linkBuilder.of('OwnersSearchThymeleafController')},collectionLink=${@linkBuilder.of('OwnersCollectionThymeleafController')},itemLink=${@linkBuilder.of('OwnersItemThymeleafController')}">
        <div class="container-fluid content">

          <h1 data-th-text="#{label_owner_plural}">Owners</h1>

          <!-- FILTER -->


          <div class="panel panel-default" data-th-object="${formBean}">

            <div class="panel-heading" data-th-if="${ formBean.city == null }">
              <a class="btn btn-default btn-xs" data-th-with="url=${searchLink.to('byCityLikeForm')}" data-th-href="@{${url}(city=*{city})}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </a>
              <span class="panel-title" data-th-text="#{label_not_filtered}">Not filtered</span>
            </div>

            <div class="panel-heading" data-th-unless="${ formBean.city == null }">
              <span class="btn-group" role="group">
                <a class="btn btn-default btn-xs" data-th-with="url=${searchLink.to('byCityLikeForm')}" data-th-href="@{${url}(city=*{city})}">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <a class="btn btn-default btn-xs" role="button" href="#filterBody" data-toggle="collapse">
                  <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                </a>
              </span>
              <span class="panel-title">
                <span data-th-text="#{label_filtered_by}">Filtered by</span>:
              </span>
              <span class="label label-default" data-th-unless="*{city == null}">city</span>
            </div>

            <div class="panel-body collapse in" id="filterBody" data-th-unless="${ formBean.city == null }">


                 <a class="btn btn-primary btn-xs" data-th-unless="*{city == null}" data-th-with="url=${searchLink.to('byCityLike')}" data-th-href="@{${url}}">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span data-th-text="|city: *{city}|">city: a city</span>
                </a>
            </div>

          </div>
          <!-- /FILTER -->

          <!-- TABLE -->
          <div class="table-responsive" id="containerFields">
              <table id="owner-entity-table" style="width: 99.7%" class="table table-striped table-hover table-bordered" data-datatables="true" data-row-id="id" data-select="single" data-z="d8e5c327" data-order="[[ 0, &quot;asc&quot; ]]" data-data-load-url-param-city="${formBean.city}" data-data-load-url="${searchLink.to('byCityLikeDt')}" data-data-show-url="${itemLink.to('show').with('owner', '_ID_')}" data-data-export-csv-url="${collectionLink.to('exportCsv')}" data-data-export-xls-url="${collectionLink.to('exportXls')}" data-data-export-pdf-url="${collectionLink.to('exportPdf')}" data-data-create-url="${collectionLink.to('createForm')}" data-data-edit-url="${itemLink.to('editForm').with('owner', '_ID_')}" data-data-delete-url="${itemLink.to('delete').with('owner', '_ID_')}" data-data-delete-batch-url="${collectionLink.to('deleteBatch').with('ids', '_ID_')}">
                <caption class="sr-only" data-th-text="#{label_list_entity(#{label_owner_plural})}">Owner List</caption>
                <thead>
                  <tr>
                    <th data-data="firstName" data-th-text="#{label_owner_firstname}">firstName</th>
                    <th data-data="lastName" data-th-text="#{label_owner_lastname}">lastName</th>
                    <th data-data="city" data-th-text="#{label_owner_city}">city</th>
                    <th data-data="id" data-orderable="false" data-searchable="false" class="dttools" data-th-text="#{label_tools}">Tools</th>
                  </tr>
                </thead>
                <tbody data-th-remove="all">
                  <tr>
                    <td>firstName</td>
                    <td>lastName</td>
                    <td>city</td>
                    <td data-th-text="#{label_tools}">Tools</td>
                  </tr>
                </tbody>
              </table>
                <!-- content replaced by modal-confirm fragment of modal-confirm.html -->
                <div data-th-replace="~{fragments/modal-confirm-delete :: modalConfirmDelete(tableId='owner-entity-table',
                    title=#{label_delete_entity(#{label_owner_plural})}, message=#{info_delete_item_confirm}, content=~{/owners/listDeleteModal :: owner-entityModalConfirmBody})}">
                </div>
                <div data-th-replace="~{fragments/modal-confirm-delete-batch :: modalConfirmDeleteBatch(tableId='owner-entity-table',
                    title=#{label_delete_entity(#{label_owner_plural})}, message=#{info_delete_batch_confirm}, content=~{/owners/listDeleteModalBatch :: owner-entityModalConfirmBody})}">
                </div>
              <div data-th-replace="~{fragments/modal-export-empty-error :: modalExportEmptyError(tableId='owner-entity-table',
                  title=#{label_export_empty_error(#{label_owner_plural})}, message=#{info_export_empty_error})}">
              </div>
          </div>
          <!-- /TABLE -->
          
          <!-- details -->
        <hr>
        <div id="details-level-1">
            <ul class="nav nav-tabs" id="nav-tabs">
                <li class="active">
                  <a id="pets-detail-table-tab" data-toggle="tab" href="#detail-pets-detail" data-z="1bbbd492">Pets</a>
                </li>
            </ul>

            <div class="tab-content" id="tab-content">
              <div id="detail-pets-detail" class="tab-pane active">
                <!--START DETAIL TABLE-->
                <div class="table-responsive" data-th-with="detailCollectionLink=${@linkBuilder.of('OwnersItemPetsThymeleafController')},detailItemLink=${@linkBuilder.of('PetsItemThymeleafController')}">
                    <table id="pets-detail-table" style="width: 99.7%" class="table table-striped table-hover table-bordered" data-datatables="true" data-parent-table="owner-entity-table" data-row-id="id" data-z="1bbbd492" data-order="[[ 1, &quot;asc&quot; ]]" data-data-load-url="${detailCollectionLink.to('datatables').with('owner', '_PARENTID_')}" data-data-show-url="${detailItemLink.to('show').with('pet', '_ID_')}" data-data-create-url="${detailCollectionLink.to('createForm').with('owner', '_PARENTID_')}" data-data-edit-url="${detailItemLink.to('editForm').with('pet', '_ID_')}" data-data-delete-url="${detailCollectionLink.to('removeFromPets').with('owner', '_PARENTID_').with('petsToRemove', '_ID_')}" data-data-delete-batch-url="${detailCollectionLink.to('removeFromPetsBatch').with('owner', '_PARENTID_').with('petsToRemove', '_ID_')}">
                      <caption class="sr-only" data-th-text="#{label_list_of_entity(#{label_owner_pets})}">Pets List</caption>
                      <thead>
                        <tr>
                          <th data-data="id" data-checkboxes="true"></th>
                              <th data-data="sendReminders" data-th-text="#{label_owner_pets_sendreminders}">sendReminders</th>
                              <th data-data="name" data-th-text="#{label_owner_pets_name}">name</th>
                              <th data-data="weight" data-th-text="#{label_owner_pets_weight}">weight</th>
                              <th data-data="type" data-th-text="#{label_owner_pets_type}">type</th>
                              <th data-data="owner" data-th-text="#{label_owner_pets_owner}">owner</th>
                              <th data-data="id" data-orderable="false" data-searchable="false" class="dttools" data-th-text="#{label_tools}">Tools</th>
                        </tr>
                      </thead>
                      <tbody data-th-remove="all">
                        <tr>
                              <td>sendReminders</td>
                              <td>name</td>
                              <td>weight</td>
                              <td>type</td>
                              <td>owner</td>
                          <td data-th-text="#{label_tools}">Tools</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- content replaced by modal-confirm fragment of modal-confirm.html -->
                    <div data-th-replace="~{fragments/modal-confirm-delete :: modalConfirmDelete(tableId='pets-detail-table',
                        title=#{label_delete_entity(#{label_owner_pets})}, message=#{info_delete_item_confirm}, content=~{/owners/pets/listDeleteModal :: pets-detailModalConfirmBody})}">
                    </div>
                   <div data-th-replace="~{fragments/modal-confirm-delete-batch :: modalConfirmDeleteBatch(tableId='pets-detail-table',
                        title=#{label_delete_entity(#{label_owner_pets})}, message=#{info_delete_batch_confirm}, content=~{/owners/pets/listDeleteModalBatch :: pets-detailModalConfirmBody})}">
                    </div>
                    <div data-th-replace="~{fragments/modal-export-empty-error :: modalExportEmptyError(tableId='pets-detail-table',
                        title=#{label_export_empty_error(#{label_owner_pets})}, message=#{info_export_empty_error})}">
                    </div>
                </div> <!--/table-responsive">
                <!--END TABLE-->
              </div> <!--/tab-pane -->
            </div> <!--/tab-content-->
        </div>

          <div class="clearfix">
            <div class="pull-left">
              <a href="../index.html" class="btn btn-default" data-th-href="@{/}">
                 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                 <span data-th-text="#{label_back}">Back</span>
              </a>
            </div>
          </div>

        </hr></div>
      </section>
      <!-- /CONTENT-->
    </div>
    <!-- /CONTAINER-->

    <footer class="container">
      <!-- Content replaced by layout of the page displayed -->
    </footer>

    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so that the pages load faster -->
    <!-- JavaScript loaded by layout of the page displayed -->
    <!--
         Only the inner content of the following tag "javascript" is included
         within the template, in the div "javascript"
        -->
    <div data-layout-fragment="javascript">
    </div>

  </body>

</html>
