<mat-card>
    <div class="d-inline-block col-md-7">
        <mat-card-header>Owner List</mat-card-header>
    </div>
    <div class="d-inline-block col-md-3">
        <mat-form-field>
            <input matInput placeholder="Filter" #filter (input)="onFilterChange($event.target.value)">
        </mat-form-field>
    </div>
    <!-- Add button -->
    <button mat-fab color="primary" [routerLink]="['/owner-add']"><i class="material-icons">add</i></button>
    <!-- Remove in batch button -->
    <button mat-fab color="primary" (click)="onClickDeleteInBatch()"
            [disabled]="selectedOwners.length == 0">
        <i class="material-icons">delete</i>
    </button>

    <mat-card-content>

        <mat-table [dataSource]="owners" matSort (matSortChange)="onSortChange($event)">

            <!-- FirstName Column -->
            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> First Name</mat-header-cell>
                <mat-cell *matCellDef="let owner"> {{owner.firstName}}</mat-cell>
            </ng-container>

            <!-- LastName Column -->
            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</mat-header-cell>
                <mat-cell *matCellDef="let owner"> {{owner.lastName}}</mat-cell>
            </ng-container>

            <!-- City Column -->
            <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef mat-sort-header> City</mat-header-cell>
                <mat-cell *matCellDef="let owner"> {{owner.city}}</mat-cell>
            </ng-container>

            <!-- Telephone Column -->
            <ng-container matColumnDef="telephone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Telephone</mat-header-cell>
                <mat-cell *matCellDef="let owner"> {{owner.telephone}}</mat-cell>
            </ng-container>

            <!-- Tools column -->
            <ng-container matColumnDef="tools">
                <mat-header-cell *matHeaderCellDef>Tools</mat-header-cell>
                <mat-cell *matCellDef="let owner">
                    <span [routerLink]="['/owner-edit', owner.id]"><i class="material-icons">build</i></span>
                    <span class="glyphicon glyphicon-pencil" (click)="onClickDelete(owner.id)"><i class="material-icons">delete</i></span>
                </mat-cell>
            </ng-container>

            <!-- Checkbox column -->
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox (change)="$event ? onSelectOrDeselectRow($event, row) : null"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <!-- Define headers -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

        <mat-paginator #paginator
                       [length]="resultsLength"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       [showFirstLastButtons]="true"
                       (page)="onPaginateChange($event)">>
        </mat-paginator>
    </mat-card-content>

</mat-card>
